  :root{
    --purple:hsl(334.3, 88.9%, 24.7%);
  }
 
 .navbar{
    height:90px;
  }
  body{
  width:100%;
  }
  .yellow-trophy {
    color: yellow; /* Set the color to yellow */
  }
  a{
    text-decoration: none;
    color:#ddd;
  }
  .accordion{
    margin:20px;
    border-radius:20px;
    /* border: 2px solid ; */
  }
  .accordion-item{
    margin-bottom:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .accordion-button{
    color:var(--purple);
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
    font-size:21px;
    letter-spacing: 1px;
  }
  .accordion-body{
    background-color:lightgray;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid Black;
    background-color: #ffff;
  }
  th{
    color:orangered;
  }



  .section {
    display:flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:96vw;
    margin:20px;
    border:1px solid;
    
  }
  
  .content {
    padding: 20px;
    width:50%;
  }
  
  .title {
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    color: #555;
  }
  



  .progress {
    margin-top:50px;
    margin-right:10px;
    width: 50%;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    width: 50%;
    height: 20px;
    background-color: #007bff;
  }
  
  @media screen and (max-width: 800px) {
    .accordion-button{
      font-size:14px;
    }
    h2{
      font-size:22px;
    }
  }